/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}

/* Estilizando o botão */
button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Estilizando a responsividade */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        margin-bottom: 20px;
    }
}
